swagger: '2.0'
info:
  version: '1.1'
  title: Scaling API
  description: Polls is a simple web service that allows consumers to view polls and vote in them.
  license:
    name: MIT
    url: http://github.com/apiaryio/polls-api/blob/master/LICENSE
host: polls.apiblueprint.org
basePath: /
schemes:
- https
consumes:
- application/json
produces:
- application/json
paths:
  /:
    x-summary: Polls API Root
    x-description: This resource does not have any attributes. Instead it offers the initial API affordances in the form of the links in the JSON body.
    get:
      description: "Retrieves the base URL "
      summary: Retrieve the Entry Point
      parameters: []
      responses:
        200:
          description: "Succesful entry point response"
          schema:
            type: object
            properties:
              url:
                type: string
              questions_url:
                type: string
            required:
              - url
              - questions_url
          examples:
            application/json:
                url: /
                questions_url: /questions
  /questions/{question_id}:
    x-summary: Question Detail
    x-description: >-
      A single Question object can be retrieved by its unique ID
    parameters:
      - name: question_id
        in: path
        required: true
        type: number
        format: int32
        description: ID of the Question in form of an integer
        x-example: 1
    get:
      tags:
        - Question
      description: "Retrieve a single Question"
      summary: View a question detail
      responses:
        200:
          description: "Succesful single Question response"
          schema:
            $ref: '#/definitions/Question'
          examples:
            application/json:
                url: "/questions/1"
                question: "Favourite programming language?"
                published_at: "2015-08-05T08:40:51.620Z"
                choices:
                  - choice: "Swift"
                    votes: 2048
                  - choice: "Python"
                    votes: 1024
                  - choice: "Objective-C"
                    votes: 512
                  - choice: "Ruby"
                    votes: 256            
  /questions/{question_id}/choices/{choice_id}:
    x-summary: Choice Detail
    parameters:
      - name: question_id
        in: path
        required: true
        type: number
        format: int32
        description: ID of the Question in form of an integer
        x-example: 1
      - name: choice_id
        in: path
        required: true
        type: number
        format: int32
        description: ID of the Choice in form of an integer
        x-example: 1
    post:
      tags:
        - Question
      description: Cast your vote on a question's choice.
      summary: Vote on a Choice
      responses:
        201:
          description: ""
          schema:
            $ref: '#/definitions/Choice'
          examples:
            application/json:
                url: "/questions/1/choices/1"
                choice: "Swift"
                votes: 2048
  /question:
    x-summary: Questions Collection
    x-description: Actions on the Questions Collection
    parameters:
      - name: page
        in: query
        required: false
        type: number
        format: int32
        description: The page of questions to return
    get:
      tags:
        - Question
      description: "Response contains paging headers"
      summary: List all questions
      responses:
        200:
          description: "Succesful Response contains paging headers"
          schema:
            type: array
            items:
              $ref: '#/definitions/Question'
          examples:
            application/json:
              - url: "/questions"
                question: "Favourite programming language?"
                published_at: "2015-08-05T08:40:51.620Z"
                choices:
                  - choice: "Swift"
                    votes: 2048
                  - choice: "Python"
                    votes: 1024
                  - choice: "Objective-C"
                    votes: 512
                  - choice: "Ruby"
                    votes: 256
    post:
      tags:
        - Question
      description: >-
        You can create your own question using this action.
        
        It takes a JSON dictionary containing a question and a collection of answers in the form of choices.
      summary: Create a new question
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/QuestionRequest'
      responses:
        201:
          description: ""
          schema:
            $ref: '#/definitions/Question'
          examples:
            application/json:
                url: "/questions/1"
                question: "Favourite programming language?"
                published_at: "2015-08-05T08:40:51.620Z"
                choices:
                  - choice: "Swift"
                    votes: 0
                  - choice: "Python"
                    votes: 0
                  - choice: "Objective-C"
                    votes: 0
                  - choice: "Ruby"
                    votes: 0
definitions:
  Question:
    title: Question
    type: object
    properties:
      question:
        type: string
      published_at:
        type: string
      url:
        type: string
      choices:
        type: array
        items:
          $ref: '#/definitions/Choice'
    required:
      - question
      - published_at
      - url
      - choices
  Choice:
    title: Choice
    type: object
    properties:
      url:
        type: string
      votes:
        type: integer
        format: int32
      choice:
        type: string
    required:
      - url
      - votes
      - choice
  QuestionRequest:
    title: Question Request
    type: object
    properties:
      question:
        type: string
      choices:
        type: array
        items:
          type: string
    required:
      - question
      - choices
    example:
      question: "Favourite programming language?"
      choices:
        - "Swift"
        - "Python"
        - "Objective-C"
        - "Ruby"
